<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Detalle</title>
</head>

<body>
    <div class="container-fluid">
        {% for dato in datos %}
        <h2 class="tiDetalle">{{dato[1]}}</h2>
        <!--Id-->
        <div class="row">
            <img class="img-thumbnail col-md-4 col-lg-4" src="/uploads/{{dato[2]}}" width="100" alt="Foto"><!--FOTO-->
            <p class="col-xs-12 col-md-8 col-lg-8 bio">{{dato[3]}}</p><!--INFORMACION-->
        </div>
        <a class="enlace" href="{{dato[4]}}">Más informacion.</a>
        {% endfor %}
    </div>
</body>

</html>